@model PortfolioProject.Models.Contact
@using PortfolioProject.Models;

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Contact</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    

    <div class="form-group">
        @Html.LabelFor(model => model.contact_main_phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.contact_main_phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.contact_main_phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.contact_secod_phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.contact_secod_phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.contact_secod_phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.contact_email, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.contact_email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.contact_email, "", new { @class = "text-danger" })
        </div>
    </div>

    <p style="font-size:20px;font-weight:bold">Create Keystring</p>


    @foreach (Language item in ViewBag.langlist)
    {
        <div class="form-group">
            <div class="col-md-2">
                <label for="sel1">Select language:</label>
            </div>
            <div class="col-md-10">
                <select class="form-control" id="sel1" name="langlist">
                    <option value="@item.id">@item.language1</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2"><label>Address:</label></div>
            <div class="col-md-10">

                <input type="text" name="content" style="width:100%" class="form-control" />
            </div>
        </div>
    }

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
